<h1>Test Root Vars...</h1>

<div>
  <h3>
    Lit element component below:
  </h3>
  <my-wc-component message="My first component"></my-wc-component>

  <x-dropdown *ngIf="showDropdown" title="click me!">
    hello world...
  </x-dropdown>

  <button (click)="showDropdown = !showDropdown">Show Dropdown</button>
  <button (click)="toggleBackgroundColor()">toggle dropdown button background color (global property)</button>
  <button (click)="toggleTextColor()">toggle dropdown button text color (component property)</button>
</div>
