<h1>Test Root Vars</h1>

<button (click)="toggleTheme()">toggle theme</button>

<br /><br />

<x-dropdown *ngIf="showDropdown" title="click me!">
  hello world...
</x-dropdown>

<br /><br />

<button (click)="showDropdown = !showDropdown">Show Dropdown</button>
<button (click)="toggleTextColor()">
  toggle dropdown button text color (component property)
</button>

<br /><br />

<div>
  <cds-alert-group>
    <cds-alert closable>
      <cds-alert status="loading" closable>
        This is an alert.
        <cds-alert-actions>
          <cds-button>Button 1</cds-button>
          <cds-button>Button 2</cds-button>
        </cds-alert-actions>
      </cds-alert>
      This is an alert.
      <cds-alert-actions>
        <cds-button>Button 1</cds-button>
        <cds-button>Button 2</cds-button>
      </cds-alert-actions>
    </cds-alert>
  </cds-alert-group>
</div>

<br /><br />

<div>
  <cds-icon size="xl" status="success"></cds-icon>
</div>

<br /><br />

<div>
  <cds-progress-circle size="xxl"></cds-progress-circle>
</div>

<br /><br />

<div>
  <cds-progress-circle [value]="circleValue" size="xl"></cds-progress-circle>
</div>
