/* You can add global styles to this file, and also import other style files */

:root {
  --root-color: #2d2d2d;
  --root-background-color: #fff;
}

body {
  color: var(--root-color);
  background-color: var(--root-background-color);
}
